<% provide :title, t("question.edit") %>
<% provide :submit, t("question.save_edit") %>
<div class="row">
  <div class="col-md-8 panel panel-default">
    <div class="text-center">
      <h3><%= t "question.edit" %></h3>
      <hr />
    </div>
    <%= render "form" %>
  </div>
</div>
