<% provide :submit, t("subject.edit_subject") %>
<div class="row">
  <div class="col-md-8 panel panel-default">
    <div class="text-center">
      <h1><%= t "subject.edit_subject" %></h1>
      <hr />
    </div>
    <%= render "form" %>
  </div>
</div>
