<div class="row">
  <div class="col-md-6 panel panel-default">
    <div class="text-center">
      <h3><%= t("subject.new_subject") %></h3>
      <hr />
    </div>
    <%= render "form" %>
  </div>
</div>
